<h3>Список блюд</h3>
<a ui-sref="user-home" class="btn waves-effect waves-light">На главную страницу</a>
<br/><br/>

<preloader ng-if="$ctrl.loading"></preloader>

<div class="row" ng-if="!$ctrl.loading">
    <div class="col s12 m6 l4" ng-repeat="dish in $ctrl.list">
        <div class="card large">
            <div class="card-image">
                <img ng-src="{{dish.image}}" alt="{{dish.title}}"/>
            </div>
            <div class="card-content">
                <span class="card-title dish-title truncate">{{dish.title}}</span>
                <p><span class="grey-text">Ingredients: {{$ctrl.formatList(dish.ingredients)}}</span></p>
            </div>
            <div class="card-action">
                <div class="row">
                    <div class="col s4 m4 l6 dish-price card-title">{{dish.price | currency}}</div>
                    <div class="col s8 m8 l6 right-align" ng-if="$ctrl.isAvailable(dish.price);">
                        <button class="waves-effect waves-light btn buy-btn" ng-click="$ctrl.buy(dish)">
                            Заказать
                        </button>
                    </div>
                    <div class="col s8 m8 l6 right-align" ng-if="!$ctrl.isAvailable(dish.price);">
                        Пополните баланс на {{ $ctrl.getEnoughMoney(dish.price) | currency}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="center-align">
    <pagination page="$ctrl.currentPage" page-size="$ctrl.limit" total="$ctrl.totalCount"
    pagination-action="$ctrl.getDishList(page)"></pagination>
</div>